reportlab
google-generativeai
streamlit>=1.28.0
numpy>=1.24.0
google-genai
soundfile
requests


PyPDF2
python-docx


streamlit-webrtc==0.47.7
pydub==0.25.1
matplotlib==3.9.2
protobuf==5.28.3
av==12.3.0
wave==0.0.2



Pillow

xlsxwriter

langchain-google-genai
langchain-experimental
tabulate
scipy



pandas>=2.0.0
plotly>=5.15.0
prophet>=1.1.4
seaborn>=0.12.0
statsmodels>=0.14.0
openpyxl>=3.1.0
kaleido>=0.2.1


streamlit-audiorecorder
audioread

speechrecognition
sounddevice
gTTS
langdetect


pyaudio>=0.2.13


websockets>=12.0
aiortc>=1.5.0
asyncio>=3.4.3


